html
{
  font-size: 16px;
}

body
{
  font-size: 16px;
}

/*修改 scroll 整理架構*/
html::-webkit-scrollbar
{
  width: 10px;
  background-color: #bfbfbf;
}

/*修改 scroll 捲軸*/
html::-webkit-scrollbar-thumb
{
  width: 10px;
  background-color: #5f5f5f;
  border-radius: 5px;
}

/*修改 scroll 卷軸*/
html::-webkit-scrollbar-track
{
  width: 10px;
  background-color: #bfbfbf;
}

/*top 框架*/
#top
{
  padding: 15px 15px;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#top .row
{
  margin-left: auto;
  margin-right: auto;
}

#top .row::after
{
  content: "";
  display: table;
  clear: both;
}

#top .row .cs-col
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#top .row .cs-col .card a
{
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

#top .row .cs-col .card a.CShool
{
  color: #5f5f5f;
}

#top .row .cs-col .card span.com
{
  color: #00bfff;
}

#top .row .cs-col .card a:hover
{
  color: #00bfff;
}

@media screen and (min-width: 320px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*功能選單*/
#menu
{
  top: 0;
  position: sticky;
  z-index: 999;
  letter-spacing: 2px;
}

#menu ul.level1
{
  background-color: #5f5f5f;
}

#menu ul.level1 li
{
  display: inline-block;
}

#menu ul.level1 li.logo
{
  display: none;
}

#menu ul.level1 li.more
{
  display: none;
}

#menu ul.level1 li a
{
  display: block;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

#menu ul.level1 li.main
{
  background-color: #00bfff;
}

#menu ul.level1 li a:hover
{
  background-color: #000000;
  transition: 1s;
}

@media screen and (min-width: 320px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 576px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 992px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

/*歡迎介面*/
#welcome
{
  z-index: 1;
  background-color:#d9d9d9;
  padding: 30px 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#welcome .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#welcome .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#welcome .container .row::after
{
  content: "";
  display: table;
  clear: both;
}

#welcome .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#welcome .container .row .cs-col h1.title
{
  color: #5f5f5f;
  text-align: center;
  font-weight: 900;
}

#welcome .container .row .cs-col p.content
{
  text-align: justify;
}

@media screen and (min-width: 320px)
{
  #welcome .row .cs-col.sm12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 576px)
{
  #welcome .row .cs-col.sm12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 768px)
{
  #welcome .row .cs-col.md12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 992px)
{
  #welcome .row .cs-col.lg12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 1200px)
{
  #welcome .row .cs-col.xl12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

/*Visual Studio 2017 功能介紹*/
#Introduction
{
  padding: 15px 0px;
  letter-spacing: 2px;
  line-height: 1.5;
}

#Introduction .row
{
  margin-left: auto;
  margin-right: auto;
}

#Introduction .row::after
{
  content:"";
  display: table;
  clear: both;
}

#Introduction .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#Introduction .row .cs-col h1.title
{
  font-weight: 900;
  text-align: center;
}

#Introduction .row .cs-col .youtubeRWD
{
  position: relative;
  padding-bottom: 56.25%; /*16:9   56.25%*/
  padding-top: 25px;
  padding-right: 0px;
  height: 0;
  text-align: center;
  width: 90%;
  margin: auto;
}

#Introduction .row .cs-col .youtubeRWD iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: auto;
}

#Introduction .row .cs-col.sm12
  {
    width: 100%;
  }

@media screen and (min-width: 320px)
{
  #Introduction .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #Introduction .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #Introduction .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #Introduction .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #Introduction .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*特色*/
#Features
{
  background-color: #d9d9d9;
  padding: 15px 0px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#Features .container
{
  text-align: center;
  width: 91.6666666667%;
  margin-left: auto;
  margin-right: auto;
}

#Features .container .row
{  
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

#Features .container .row .cs-col
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

#Features .container .row .cs-col h1.title
{
  font-weight: 900;
  text-align: center;
  color: #5f5f5f;
}

#Features .container .row .cs-col hr
{
  width: 100%;
  height: 5px;
  border: none;
  background-color: #5f5f5f;
}

#Features .container .row .cs-col .card
{
  margin: 0px 10px;
}

#Features .container .row .cs-col .card span
{
  font-size: 50px;
}

#Features .container .row .cs-col .card span:hover
{
  color: #00bfff;
}

#Features .container .row .cs-col .card p
{
  text-align: justify;
}

@media screen and (min-width: 320px)
{
  #Features .container .row .cs-col.sm12
  {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #Features .container .row .cs-col.sm12
  {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    min-width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #Features .container .row .cs-col.md6
  {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    min-width: 50%;
  }
}

@media screen and (min-width: 992px)
{
  #Features .container .row .cs-col.lg4
  {
    flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
  }
}

@media screen and (min-width: 1200px)
{
  #Features .container .row .cs-col.xl4
  {
    flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
  }
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  padding: 20px 0px;
  letter-spacing: 2px;
  line-height: 1.5;
}

#contact .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#contact .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#contact .container .row::after
{
  display: table;
  content: "";
  clear: both;
}

#contact .container .row .cs-col
{
  float:left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#contact .container .row .cs-col .card
{
  margin: 0px 10px;
  text-align: center;
}

#contact .container .row .cs-col .card h2.title
{
  color: #bfbfbf;
}

#contact .container .row .cs-col .card a img
{
  width: 40px;
  margin: 1.5px;
  display: inline-block;
}

#contact .container .row .cs-col .card p.copyright
{
  color: #bfbfbf;
}

#contact .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 320px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #contact .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #contact .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #contact .container .row .cs-col.xl12
  {
    width: 100%;
  }
}