html
{
  font-size: 16px;
}

body
{
  font-size: 16px;
}

/*修改 scroll 整理架構*/
html::-webkit-scrollbar
{
  width: 10px;
  background-color: #bfbfbf;
}

/*修改 scroll 捲軸*/
html::-webkit-scrollbar-thumb
{
  width: 10px;
  background-color: #5f5f5f;
  border-radius: 5px;
}

/*修改 scroll 卷軸*/
html::-webkit-scrollbar-track
{
  width: 10px;
  background-color: #bfbfbf;
}

/*top 框架*/
#top
{
  padding: 15px 15px;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#top .row
{
  margin-left: auto;
  margin-right: auto;
}

#top .row::after
{
  content: "";
  display: table;
  clear: both;
}

#top .row .cs-col
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#top .row .cs-col .card a
{
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

#top .row .cs-col .card a.CShool
{
  color: #5f5f5f;
}

#top .row .cs-col .card span.com
{
  color: #00bfff;
}

#top .row .cs-col .card a:hover
{
  color: #00bfff;
}

@media screen and (min-width: 320px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*功能選單*/
#menu
{
  top: 0;
  position: sticky;
  z-index: 999;
  letter-spacing: 2px;
}

#menu ul.level1
{
  background-color: #5f5f5f;
}

#menu ul.level1 li
{
  display: inline-block;
}

#menu ul.level1 li.logo
{
  display: none;
}

#menu ul.level1 li.more
{
  display: none;
}

#menu ul.level1 li a
{
  display: block;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

#menu ul.level1 li.main
{
  background-color: #00bfff;
}

#menu ul.level1 li a:hover
{
  background-color: #000000;
  transition: 1s;
}

@media screen and (min-width: 320px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 576px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 992px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

/*歡迎介面*/
#welcome
{
  z-index: 1;
  background-color:#d9d9d9;
  padding: 30px 10px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#welcome .row .cs-col h1.title
{
  color: #5f5f5f;
  text-align: center;
  font-weight: 900;
  padding: 10px 0px;
}

#welcome .container
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#welcome .container .row .cs-col p.content
{
  text-align: justify;
}

#welcome .row .cs-col.sm12
{
  width: 100%;
}

@media screen and (min-width: 320px)
{
  #welcome .row .cs-col.sm12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 576px)
{
  #welcome .row .cs-col.sm12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 768px)
{
  #welcome .row .cs-col.md12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 992px)
{
  #welcome .row .cs-col.lg12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

@media screen and (min-width: 1200px)
{
  #welcome .row .cs-col.xl12
  {
    width: 100%;
  }

  #welcome .container
  {
    width: 90%;
  }
}

#Privacy
{
  line-height: 1.5;
  letter-spacing: 2px;
  background-color: #f2f2f2;
  padding: 20px 0px;
  text-align: justify;
}

#Privacy .container
{
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  width: 91.6666666667%;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #bfbfbf;
}

#Privacy .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#Privacy .container .row::after
{
  display: table;
  content: "";
  clear: both;
}

#Privacy .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#Privacy .container .row .cs-col .card
{
  padding: 0px 10px;
}

#Privacy .container .row .cs-col .card p.announce
{
  padding: 10px 0px;
}

#Privacy .container .row .cs-col .card h2.title
{
  color: #00bfff;
  font-weight: 900;
}

#Privacy .container .row .cs-col .card p.content
{
  padding: 10px;
}

#Privacy .container .row .cs-col .card ul li
{
  padding: 10px 20px;
  margin-left: 30px;
  list-style-type: disc;
  list-style: disc;
  list-style-position: outside;
}

@media screen and (min-width: 320px)
{
  #Privacy .container .row .cs-col.sm112
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #Privacy .container .row .cs-col.sm112
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #Privacy .container .row .cs-col.md112
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #Privacy .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #Privacy .container .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  padding: 20px 0px;
}

#contact .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#contact .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#contact .container .row::after
{
  display: table;
  content: "";
  clear: both;
}

#contact .container .row .cs-col
{
  float:left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#contact .container .row .cs-col .card
{
  margin: 0px 10px;
  text-align: center;
}

#contact .container .row .cs-col .card h2.title
{
  color: #bfbfbf;
}

#contact .container .row .cs-col .card a img
{
  width: 40px;
  margin: 2px;
  display: inline-block;
}

#contact .container .row .cs-col .card p.copyright
{
  color: #bfbfbf;
}

#contact .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 320px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #contact .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #contact .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #contact .container .row .cs-col.xl12
  {
    width: 100%;
  }
}