html
{
  font-size: 16px;
}

body
{
  font-size: 16px;
}

/*修改 scroll 整理架構*/
html::-webkit-scrollbar
{
  width: 10px;
  background-color: #bfbfbf;
}

/*修改 scroll 捲軸*/
html::-webkit-scrollbar-thumb
{
  width: 10px;
  background-color: #5f5f5f;
  border-radius: 5px;
}

/*修改 scroll 卷軸*/
html::-webkit-scrollbar-track
{
  width: 10px;
  background-color: #bfbfbf;
}

/*top 框架*/
#top
{
  padding: 15px 15px;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#top .row
{
  margin-left: auto;
  margin-right: auto;
}

#top .row::after
{
  content: "";
  display: table;
  clear: both;
}

#top .row .cs-col
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#top .row .cs-col .card a
{
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
}

#top .row .cs-col .card a.CShool
{
  color: #5f5f5f;
}

#top .row .cs-col .card span.com
{
  color: #00bfff;
}

#top .row .cs-col .card a:hover
{
  color: #00bfff;
}

@media screen and (min-width: 320px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #top .row .cs-col .card.text_center
  {
    text-align: center;
  }

  #top .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #top .row .cs-col .card.card.text_center
  {
    text-align: left;
  }

  #top .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*功能選單*/
#menu
{
  top: 0;
  position: sticky;
  z-index: 999;
  letter-spacing: 2px;
}

#menu ul.level1
{
  background-color: #5f5f5f;
}

#menu ul.level1 li
{
  display: inline-block;
}

#menu ul.level1 li.logo
{
  display: none;
}

#menu ul.level1 li.more
{
  display: none;
}

#menu ul.level1 li a
{
  display: block;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

#menu ul.level1 li.main
{
  background-color: #00bfff;
}

#menu ul.level1 li a:hover
{
  background-color: #000000;
  transition: 1s;
}

@media screen and (min-width: 320px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
    text-align: center;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 576px)
{
  #menu ul.level1 li.logo
  {
    display: block;
  }

  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  #menu ul.level1 li
  {
    display: block;
  }

  #menu ul.level1 li.list
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: none;
  }
}

@media screen and (min-width: 992px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px)
{
  #menu ul.level1 li
  {
    display: inline-block;
  }

  #menu ul.level1 li.logo
  {
    display: none;
  }

  #menu ul.level1 li.main
  {
    display: inline-block;
  }

  #menu ul.level1 li.list
  {
    display: inline-block;
  }
}

/*vs_2017*/
#vs_2017
{
  background-color: #e6e6e6;
  padding: 20px 0px;
  line-height: 1.5;
  letter-spacing: 2px;
}

#vs_2017 .row
{
  margin-left: auto;
  margin-right: auto;
}

#vs_2017 .row:after
{
  content: "";
  display: table;
  clear: both;
}

#vs_2017 .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#vs_2017 .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#vs_2017 .container .row:after
{
  content: "";
  display: table;
  clear: both;
}

#vs_2017 .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#vs_2017 .container .row .cs-col .card
{
  margin: 0px 5px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #bfbfbf;
  padding: 10px;
  border-radius: 5px;
}

#vs_2017 .container .row .cs-col h1.title
{
  padding: 5px;
  font-weight: 900;
}

#vs_2017 .container .row .cs-col p.content
{
  padding: 5px;
}

#vs_2017 .container .row .cs-col .card h2.title
{
  font-weight: 900;
  padding: 10px;
}

#vs_2017 .container .row .cs-col .card p.content
{
  padding: 10px;
}

#vs_2017 .container .row .cs-col .card p.support
{
  padding: 10px;
}

#vs_2017 .container .row .cs-col .card p.support i.fab
{
  padding: 0px 5px;
  font-size: 18px;
}

#vs_2017 .container .row .cs-col .card p.official
{
  padding: 10px;
}

#vs_2017 .container .row .cs-col .card a
{
  word-break: break-all;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

#vs_2017 .container .row .cs-col .card a.download
{
  display: block;
  background-color: #00bfff;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  color: #ffffff;
}

#vs_2017 .container .row .cs-col .card a.download i.fas
{
  padding: 0px 10px;
}

#vs_2017 .container .row .cs-col .card a.download:hover
{
  box-shadow: 2px 2px 2px #bfbfbf;
  transition: 1s;
}

@media screen and (min-width: 320px)
{
  #vs_2017 .container .row .cs-col h1.title
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col p.content
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #vs_2017 .container .row .cs-col h1.title
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col p.content
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #vs_2017 .container .row .cs-col h1.title
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col p.content
  {
    text-align: justify;
  }

  #vs_2017 .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #vs_2017 .container .row .cs-col h1.title
  {
    text-align: left;
  }

  #vs_2017 .container .row .cs-col p.content
  {
    text-align: left;
  }

  #vs_2017 .container .row .cs-col.lg4
  {
    width: 33.3333333333%;
  }

  #vs_2017 .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #vs_2017 .container .row .cs-col h1.title
  {
    text-align: left;
  }

  #vs_2017 .container .row .cs-col p.content
  {
    text-align: left;
  }

  #vs_2017 .container .row .cs-col.xl4
  {
    width: 33.3333333333%;
  }

  #vs_2017 .container .row .cs-col.xl12
  {
    width: 100%;
  }
}

/*vs_2013 and vs_2015*/
#vs_13_15
{
  line-height: 1.5;
  letter-spacing: 2px;
  padding: 20px 0px;
  background-color: #5f5f5f;
  text-align: center;
}

#vs_13_15 .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#vs_13_15 .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#vs_13_15 .container .row::after
{
  content: "";
  display: table;
  clear: both;
}

#vs_13_15 .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
}

#vs_13_15 .container .row .cs-col .card
{
  margin: 0px 10px;
}

#vs_13_15 .container .row .cs-col .card h1.title
{
  color: #ffffff;
  font-weight: 900;
}

#vs_13_15 .container .row .cs-col .card a
{
  text-decoration: none;
  font-weight: 900;
  background-color: #00bfff;
  color: #ffffff;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
}

#vs_13_15 .container .row .cs-col .card a:hover
{
  mix-blend-mode: screen;
}

@media screen and (min-width: 320px)
{
  #vs_13_15 .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #vs_13_15 .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #vs_13_15 .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #vs_13_15 .container .row .cs-col.lg12
  {
    width: 100%;
  }

  #vs_13_15 .container .row .cs-col.lg4
  {
    width: 33.3333333333%;
  }
}

@media screen and (min-width: 1200px)
{
  #vs_13_15 .container .row .cs-col.xl12
  {
    width: 100%;
  }

  #vs_13_15 .container .row .cs-col.xl4
  {
    width: 33.3333333333%;
  }
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  padding: 20px 0px;
}

#contact .container
{
  width: 91.6666666667%;
  margin: 0px auto;
}

#contact .container .row
{
  margin-left: auto;
  margin-right: auto;
}

#contact .container .row::after
{
  display: table;
  content: "";
  clear: both;
}

#contact .container .row .cs-col
{
  float:left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#contact .container .row .cs-col .card
{
  margin: 0px 10px;
  text-align: center;
}

#contact .container .row .cs-col .card h2.title
{
  color: #bfbfbf;
}

#contact .container .row .cs-col .card a img
{
  width: 40px;
  margin: 2px;
  display: inline-block;
}

#contact .container .row .cs-col .card p.copyright
{
  color: #bfbfbf;
}

#contact .container .row .cs-col
{
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 320px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 576px)
{
  #contact .container .row .cs-col.sm12
  {
    width: 100%;
  }
}

@media screen and (min-width: 768px)
{
  #contact .container .row .cs-col.md12
  {
    width: 100%;
  }
}

@media screen and (min-width: 992px)
{
  #contact .container .row .cs-col.lg12
  {
    width: 100%;
  }
}

@media screen and (min-width: 1200px)
{
  #contact .container .row .cs-col.xl12
  {
    width: 100%;
  }
}