/* CSS Mini Reset */
@charset "UTF-8";

*
{
  font-family: "Times Now Romon", sans-serif ,"微軟正黑體";
  padding: 0px;
  margin: 0px;
}

ul , li
{
  list-style: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

th, td
{
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption
{
  font-weight: normal;
}

img
{
  border: 0;
}
