/*使用者登入*/
#uname
{
  background-color: #000000;
  /* padding: 15px; */
  text-align: right;
  font-size: 18px;
  letter-spacing: 1px;
}

#uname span.username
{
  color: #ffffff;
  
}

#uname a
{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

#uname a:hover
{
  color: #000000;
  background-color: #ffff00;
  transition: 1s;
}

/*開頭標題*/
#top
{
  background-color: #ffffff;
  padding: 10px;
}

#top span.CShool a
{
  color: #5f5f5f;
  font-size: 40px;
  text-decoration: none;
}

#top span.com a
{
  color: #00bfff;
  font-size: 40px;
  text-decoration: none;
}

#top span.content
{
  float: right;
  margin-top: 35px;
}

#top span.bottom
{
  font-size: 30px;
  color: #404040;
}

#top span.CShool a:hover
{
  color: #00bfff;
}

/*第二大框架*/
#container1
{
  margin: 15px auto;
  padding: 0px;
  overflow: hidden;
  display: block;
}

/*將第二框架內外間距調 0*/
#container1 .con-scope
{
  margin: 0px;
  padding: 0px;
}

/*工具選項 css調整*/
#container1 .box-tool
{
  margin: 15px auto;
  padding: 0px;
  width: 100%;
}

#container1 .box-tool .con-ac
{
  border: 1px solid #bfbfbf;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#container1 .box-tool .con-ac a
{
  text-decoration: none;
  color: #000000;
  display: inline-block;
  background-color: #e6e6e6;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 10px;
}

#container1 .box-tool .con-ac a:hover
{
  background-color: #cccccc;
}

#container1 .blog-type
{
  width: 91%;
  /* background-color: #00bfff; */
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#container1 .blog-type .content
{
  width: 100%;
}

#container1 .blog-type .content a
{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 0px;
  border: 1px solid #bfbfbf;
}

#container1 .blog-type .content a.addtype:hover
{
  background-color: #000000;
  color: #ffffff;
}

/******************************************************/


/*************************************************/

/*content*/
#container1 .user-content
{
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#container1 .user-content .content
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#container1 .user-content table
{
  width: 100%;
  border: 1px solid #bfbfbf;
}

#container1 .user-content tr.box-black
{
  background-color: #bfbfbf;
  border: 1px solid #bfbfbf;
}

#container1 .user-content tr.box-black td
{
  padding: 10px;
  color: #404040;
  text-align: left;
}

#container1 .user-content th
{
  padding: 15px;
  vertical-align: middle;
  text-align: left;
}

#container1 .user-content th.blognumber
{
  text-align: center;
}

#container1 .user-coontent img
{
  vertical-align: middle;
}

#container1 .user-content a.edit
{
  background-color: #00bfff;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}

#container1 .user-content a.delete
{
  background-color: #ff0000;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}

#container1 .user-content a.edit:hover
{
  background-color: #00ace6;
}

#container1 .user-content a.delete:hover
{
  background-color: #cc0000;
}

#container2
{
  margin-left: 23%;
  padding: 20px;
}

#container2 .contents
{
  width: 100%;
  height: 100%;
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

#contact h2.title
{
  color: #bfbfbf;
  padding: 10px;
}

#contact img
{
  width: 40px;
  padding: 2px;
}

#contact p
{
  color: #bfbfbf;
  padding: 10px;
}