body
{
  overflow: auto;
}

#container
{
  margin: 0 auto;
  width: 100%;
}

#login
{
  margin-top: 150px;
}

#login .logo
{
  text-align: center;
  font-size: 40px;
}

#login .logo span.csharp
{
  color: #5f5f5f;
}

#login .logo span.com
{
  color: #00bfff;
}

#level1
{
  padding: 25px;
  margin-top: 10px;
}

#level2
{
  background-color: #efefef;
  width: 66.6666666667%;
  height: auto;
  margin: auto;
  padding: 75px;
  text-align: center;
  border-radius: 5px;
}

#level2 .contents
{
  padding: 10px;
}

#level2 .contents h3
{
  display: inline-block;
  color: #00bfff;
  padding: 20px;
  width: 150px;
  text-align: left;
}

#level2 input
{
  border: 1px solid #00bfff;
  border-radius: 5px;
  width: 250px;
  font-size: 18px;
  padding: 5px;
}

#level2 button
{
  cursor: pointer;
  border: 1px solid #00bfff;
  border-radius: 5px;
  padding: 10px;
  margin: 1%;
  background-color: #00bfff;
  color: #ffffff;
  width: 370px;
  font-size: 18px;
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  text-align: center;
  padding: 40px;
}

#contact h2.title
{
  color: #bfbfbf;
  padding: 10px;
}

#contact img
{
  width: 40px;
  padding: 2px;
}

#contact p
{
  color: #bfbfbf;
  padding: 10px;
}