body
{
  overflow: auto;
}

#container1
{
  width: 100%;
  margin: auto;
}

#login
{
  margin-top: 150px;
}

#login .logo
{
  text-align: center;
  font-size: 40px;
}

#login .logo span.csharp
{
  color: #5f5f5f;
}

#container1 .logo span.com
{
  color: #00bfff;
}

#container1
{
  width: 100%;
}

#level1
{
  padding: 25px;
  margin-top: 10px;
}

#level2
{
  background-color: #efefef;
  width: 66.6666666667%;
  height: auto;
  margin: auto;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
}

#level2 .contents
{
  padding: 10px;
}

#level2 h3
{
  display: inline-block;
  width: 350px;
  padding: 10px;
  color: #00bfff;
  text-align: left;
}

#level2 input
{
  border: 1px solid #00bfff;
  border-radius: 5px;
  width: 350px;
  font-size: 18px;
  padding: 10px;
}

#level2 .contents p.error
{
  display: block;
  text-align: left;
  color: #ff0000;
  margin: 5px;
  margin-left: 430px;
  padding: 10px;
}

#level2 .contents button
{
  cursor: pointer;
  border: 1px solid #00bfff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #00bfff;
  width: 250px;
  font-size: 18px;
}

#level2 .contents button.confirm
{
  color: #ffffff;
}

#level2 .contents button.leave a
{
  display: block;
  color: #ffffff;
  text-decoration: none;
}

/*聯絡我們*/
#contact
{
  background-color: #000000;
  text-align: center;
  padding: 40px;
}

#contact h2.title
{
  color: #bfbfbf;
  padding: 10px;
}

#contact img
{
  width: 40px;
  padding: 2px;
}

#contact p
{
  color: #bfbfbf;
  padding: 10px;
}